@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&family=Poppins:wght@400;500&family=Ysabeau+Infant:wght@400;500&display=swap');
/* https://colorhunt.co/palette/effffdb8fff985f4ff42c2ff */

:root{
    /* --background: #fff; */
    /* --light: #e7fffc;
    --nav: #B8FFF9;
    --dark: #42C2FF; */
    --text: #fff;
    --background: #0b0c10;
    --light: #56e9df;
    --nav: #1f2833;
    --dark: #0b0c10;
}

*{
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    /* background-color: whitesmoke; */
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    /* width: 100%; */
}

/* navbar start */
nav{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--nav);
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    box-shadow: 0px 1px 5px black;
    margin-bottom: 0.1rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
nav img{
    width: 7rem;
}
nav ul{
    display: flex;
    margin: 0.8rem 0;
}
nav ul li{
    font-size: 1.5rem;
    margin: 0 2rem;
    cursor: pointer;
    transition: 100ms;
}
nav ul li a{
    text-decoration: none;
    color: var(--text);
}
nav ul li:hover{
    transform: scale(1.1);
}

.menu-btn{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5rem;
}
.menu-btn div{
    width: 2.2rem;
    height: 0.2rem;
    background-color: var(--text);
    margin: 0.2rem 0;
}

.menu{
    display: none;
    flex-direction: column;
    background-color: var(--nav);
}
.menu.active{
    display: flex;
}
.menu a{
    display: inline;
    text-decoration: none;
    color: var(--text);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid black;
}
.menu a:hover{
    color: var(--light);
}

.login{
    color: green;
}
.logout{
    color: red;
}

/* navbar end */

/* main start */

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3% 10%;
    /* border: 3px solid #42C2FF; */
    background-color: var(--light);
    border-radius: 1rem;
    box-shadow: 0px 3px 8px black;
}
.hero h1{
    font-size: 6rem;
    font-family: 'Ysabeau Office', serif;
    text-align: center;
    color: var(--dark);
    margin: 1rem;
    margin-bottom: 0;
}
.hero p{
    font-size: 2rem;
    color: var(--dark);
    text-align: center;
    margin: 1rem;
    font-weight: 500;
}
.hero small{
    font-size: 1rem;
    font-style: italic;
    color: var(--dark);
}
.hero button{
    background-color: var(--dark);
    margin: 1.5rem;
    padding: 1.5rem;
    border: 0;
    border-radius: 2rem;
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 500;
    transition: 200ms;
}
.hero button:hover{
    transform: translateY(-3px);
    color: var(--light);
    box-shadow: 0px 2px 2px var(--light);
}

.container{
    display: flex;
    flex-direction: column;    
    /* justify-content: center; */
    align-items: center;
    margin: 3% 20%;
    background-color: var(--nav);
    border: 0;
    border-radius: 0.8rem;
    color: var(--text);
}
.container form{
    padding: 2rem;
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}
.container form h2{
    text-align: center;
    font-size: 3rem;
    color: var(--light);
    grid-column: span 2;
}
.field{
    display: flex;
    flex-direction: column;
    /* margin: 1rem 1rem; */
    margin: 1rem 0rem;
}
.field input, .field select{
    background-color: var(--background);
    border: 0;
    padding: 0.5rem 0.5rem;
    color: var(--text);
    margin: 0.5rem 0;
    border-radius: 0.2rem;
}
.field input:focus{
    outline: 0;
}

.container form button{
    background-color: var(--light);
    color: var(--background);
    width: 100%;
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin-top: 0.5rem;
    grid-column: span 2;
}
.container form button:hover{
    transform: translateY(2px);
}

.container p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    margin: 0;
}
.container p a{
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    border: 2px solid var(--light);
    border-radius: 1rem;
}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 20%;
    border: 0;
    border-radius: 0.5rem;
}
.links a,.links button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--nav);
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
    margin: 0.2rem;
    padding: 2.5rem;
    border-radius: 1rem;
    transition: 250ms;
    box-shadow: 0px 3px 6px 1px rgb(120, 120, 120);
}
.links a:hover,.links button:hover{
    background-color: var(--light);
    color: var(--dark);
}
.links a:hover{
    font-weight: 600;
    transform: scale(1.05);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}
.heading{
    color: var(--light);
    text-align: center;
    font-size: 3rem;
}


.application{
    width: 100%;
}
.application fieldset{
    margin: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.application legend{
    /* color: var(--text); */
    font-size: 1.5rem;
}
.application a{
    color: var(--light);
    text-decoration: none;
    transition: 100ms;
}
.application p, .application a{
    padding: 0.5rem;
}
.application a:hover{
    text-decoration: underline;
    font-size: 1.1rem;
}

.big-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.big-form .field{
    margin: 1rem;
}

/* main end */

/* footer start*/
.top{
    background-color: var(--nav);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top img{
    width: 14rem;
}
.top div{
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    padding: 0 1rem;
}
.top h3{
    font-size: 2rem;
    margin: 1rem;
}
.top hr{
    width: 4rem;
    height: 0.4rem;
    background-color: black;
    margin: 0;
    border: 0;
}

.bottom{
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
}
.bottom h3{
    color: white;
    margin: 1rem 3rem;
    font-weight: 400;
    font-size: 1rem;
}


/* footer end*/

/* mobile start */

@media screen and (max-width:800px) {
    nav ul{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .hero{
        margin: 0.5rem;
    }
    .hero h1{
        font-size: 4.5rem;
    }
    .container{
        margin: 0.8rem;
    }
    .container form button{
        padding: 0.25rem;
    }
    .container p a{
        padding: 0.2rem 1rem;
        font-size: 1rem;
    }
    .top{
        flex-direction: column;
    }
    .bottom h3{
        font-size: 1rem;
        margin: 1rem 1rem;
    }

    .links{
        margin: 1rem;
        gap: 1rem;
    }
    .links a{
        font-size: 1rem;;
        padding: 2rem;
    }

    .big-form{
        display: block;
    }
    .big-form .field{
        margin: 1rem 0;
    }

    .application fieldset{
        margin: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}

/* mobile end */
/* messages */

.messages{
    color: var(--text);
}

/* messages end */